<<<<<<< HEAD
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background:#111;
  color:white;
}

/* HERO */
.hero{
  height:60vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.9)),
  url("https://images.unsplash.com/photo-1585747860715-2ba37e788b70");
  background-size:cover;
  background-position:center;
}

.hero h1{
  font-size:60px;
  margin-bottom:10px;
}

.hero p{
  font-size:20px;
  margin-bottom:20px;
}

.hero button{
  padding:15px 30px;
  font-size:18px;
  border:none;
  background:#c59d5f;
  color:black;
  cursor:pointer;
  border-radius:6px;
  font-weight:bold;
  transition:.3s;
}

.hero button:hover{
  transform:scale(1.1);
}

/* SERVICIOS */

.servicios{
  padding:60px 20px;
  text-align:center;
}

.servicios h2{
  font-size:40px;
  margin-bottom:30px;
}

.card{
  background:#1e1e1e;
  padding:25px;
  margin:15px auto;
  max-width:400px;
  border-radius:10px;
  box-shadow:0 0 15px rgba(0,0,0,.5);
}

body{
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  background:#111;
  color:white;
  text-align:center;
}

.hero{
  padding:80px 20px;
  background:#000;
}

button{
  padding:15px 30px;
  font-size:18px;
  border:none;
  background:#25D366;
  color:white;
  border-radius:8px;
  cursor:pointer;
}

.servicios, .precios, .testimonios{
  padding:60px 20px;
}

.card{
  background:#1c1c1c;
  padding:20px;
  margin:15px auto;
  max-width:300px;
  border-radius:10px;
}

.precio{
  font-size:28px;
  color:#25D366;
  font-weight:bold;
}

footer{
  padding:30px;
  background:#000;
  font-size:14px;
}
